<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="694" />
    <add key="mainForm.Location.Y" value="220" />
    <add key="mainForm.Width" value="722" />
    <add key="mainForm.Height" value="731" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/0/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="runSerialMenuItem" value="true" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/data/1/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAIuZIiXaUnDNg4GBxcnkbwITAxiwOq26lARne59JhLJZnMIZNdhh7EsdiXA1MueS4GoOySbDxTPOIdSsL4CxOZwAbgabcngAAAA=" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEAGvcLSXaUnDNgwEIlLQspBigAACIZm/pGAAAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEACt+JCXaUnDNI+b8fefqqwlMDEDwzeGAc9nlJDC7dfMuZ60ziWC2Rs8255hMiDgDwzRny5oUMPvNy0XOp6Qhalpfb3ee3QFhfz2wwXn2OYh6489znKtlk8Hsa8XnnMvOQdR4WF52XlIAYRvLa7sAAMLbZ9SQAAAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEACt+JCXaUnDNg4FhmrOrloUUAxhMcwYA/c++zBgAAAA=" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEACt+JCXaUnDNI1+o2cpVy0KKAQhAbAA0kAoqGAAAAA==" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEACt+JCXaUnDNgwEIFu68Js4ABUsKEpkgrAZ7ABVzqv8kAAAA" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAGvcLSXaUnDNgwEIlLQspBigAACIZm/pGAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOsV3izaUnDNI26vn+NBz0QmBiA41+vnGCKXBGa3LPZzPDofwtaa6+fIL50MZv9Y5Of4vAoinrPaz1FKBaI36oGfY00rRNxvq5/jFgOo3o1+jt7fIew1S/0czadD2K/O+jn+6oewd2zzcwQAR4QseJAAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOsV3izaUnDNY9vPZoeDnolMDEAQcbvZIUQuCcw2ednscHQ+hK3ytNmBXzoZzL7zotnheRVE3OFds4OUCkQvl0CLQ00rRLzvS7PDFgMI+9XHZgfv7xD2pFfNDubTIWwnlhaHX/0QdtnXZgcAG0+v3JAAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOsV3izaUnDNQy3qnuNBz0QmBiDYl3jPMUQuCcx2i7vneHQ+hO0Tf8+RXzoZzI4Fij+vgoizxN5zlFKB6J0Ucs+xphUiXhB9z3GLAYQtFXPP0fs7hP0BqN58OoTdEn7P8Vc/hG0GVA8Aa9vGApAAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADP9KS7aUnDNw6XwkgPrpwQmBiDYbNjk8OpOEph97XGHw4WziWD2j8RSB7lgiPjd16kOQVkQtlB+ukOfYzKYfWpnu8Pcboh6tVOpDk2vIWqWxExwiNoEYT8O3+2gyglhK2YudvBbC1G/pP24AwBPQZzkkAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEABOIFRdtKbjm8eBxoKNWXyITAwg05Drs6UuCs/9JQ9gnziU4yAVD2BMY9R2CshBq+hyTwWyfnASHud0wc5Qcml5D1KTMXOQQtQlqjsM5B1VOCHta6noHv7WJUDVXHAAe85tHkAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADP9KS7aUnDNg+VzpwPrpwQmBiDQXPXA/tWdJDB73uIH9hfOJoLZ71eIOMgFQ8Vn/rYPyoKwGRjE7Psck8HsLlklh7ndEPUhjj/tm15D1ByQ+WEftQnC5pTOd1DlhLCnGAc7+K2FqP9RutUBAH9iNwGQAAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADP9KS7aUnDNY/fahw6snxKYGIBgTba4w6s7SWC2x3ErhwtnE8HswxuUHeSCIeIbWjgdgrIgbJN9HA59jskQcRYxh7ndEPUMDZwOTa8R6qM2QdgN7J4OqpwQdoGDpYPfWoj6E34hDgCpZ8BCkAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADP9KS7aUnDNY847EQfWTwlMDEDwpfeOw6s7SWB2x9wzDhfOJoLZ9/ZccZALhohzzWJ2DMqCsOs0bzv0OSaD2RuCjzvM7Yaoz9R77tD0GqJGTeyOQ9QmCJun6p+DKieE7fn1hIPfWoj6/gl8jgBNQqJHkAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEADP9KS7aUnDNw64l2oH1UwITAxist391JwnMjjPxcLhwNhEqfsK+YO8RFhi7zzEZIt7A6TC3G6Gm6TVE74TUh/ZRmyBsxz3WDqqcEDb7fHcHv7Uw9foOAG/l1L2EAAAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEADP9KS7aUnDNo6Ki2YH1UwITAxB0ySo5vLqTBGZPaLR2uHA2EcxmYPhlLxcMET9hJOYQlAVVM/eBfZ9jMpgdee6X/dxuiPoTfpwOTa+T4OyoTRA2u7y1gyonVPycqIPf2kS4OACZMtrBkAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEADP9KS7aUnDNI/gylyPrpwQmBiBoCXjv8OpOEpi9W4fb8cLZRDB7RTubo1wwRLyh4qBDUBaEbfbkoUOfYzKYfeT/coe53RD1G4zPOzS9hqp/8NQhahOELeb6wEGVE8Le2sTl6LcWor54PZMjAJIMqhSQAAAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEADP9KS7aUnDNoydF0pH1UwITAwg4nHN4dScJwmaY5nDhbCKYfcIv10EuGCrekOsQlAVh66xY4dDnmAwRT5B3nNsNUX/03FSHptcQNX6u/I5Rm6B6FbwdVTkh7LvVPI5+ayHqy60tHAGcI2MIkAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEADP9KS7aUnDNg4HhkiPrpwQmBjC44PjqThKUfc7xwtlEKPuMo1wwTPyUY1AWgt3nmAxXP7c7EW5O02uEOVGbYOxLjqqcSXA1fmth6q84AgA5Z0/rkAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADP9KS7aUnDNg4GByYn1UwITAxj8cXx1JwnKZnC6cDYRyv7nKBcME//hGJQFY/9y/JORDFej2o1Q33MEoSZqUxJCDWcS3C6/tYlwuwDE7UgdkAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADP9KS7aUnDNg4HhkSPrpwQmBjB44PjqThKUfcfxwtlEuLhcMEz8kWNQVhJc/E9GMpR9z1G1G6G+5wjCnKhNCPWXDBDsha2JcDMBM39M7ZAAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFNTkBBtKbjmwcCwzVHkdAITAxhsc3x1JwnK3uR44WwilL3BUS4YIR6UBWOvc/yTkQxXo9qNUN9zBKZmjWPUpiS4+CUDhDkLW2HqdzgCAMgpg/KQAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFNTkBBtKbjmwcDA4iRyOoGJAQyYnV7dSYKyWZwunE2Espmc5IKT4OygrCS4esUvR1hg7J4jCDVRmxDmXDKAsRmdFrYizAQAqaoHlIQAAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAFNTkBBtKbjmwcDA5LTlYwITAxgwOXltS4KyGZymfUmEshmdPockwdnbHZPg6v9kJMPZqt0w9cxOPUcQas5mqLHD2ABOdgGweAAAAA==" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAFNTkBBtKbjmwcDwxHHi1wQmBjB44Ji7KQnKvuM47UsinL06Igmu5r8tjH3P8U9GMlx8o/8RFhg74yZMzSPHPDGE3u8ViXBxADRbjh2EAAAA" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAFNTkBBtKbjmwcDwyjHpZwITAxg8cZyzLgnKfuA47UsilP3I0T0mCc6efS0Jrv7IGRj7laNqN0z9C8eeIwg1z9WToex3jkdPI8xULE2E6wUAZ9ttFZAAAAA=" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAFNTkBBtKbjmwcDA6mT9N4GJAQyYnQ6vSoKymZymfUmEi7+NT4Kzv15CqDlyBiGu2g1Tz+LUcwQhfjZDjR3GBgCSBFI1eAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAIuZIiXaUnDNw4DhhJPJ3wQmBiD49/+409d5R1hg7NjMJLD4XyCbyzcFzP4PZH/wSoSLX+pIhOuVOZcEZx+STYarEbc/zAJjAwDDRiiMeAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAAvKkxBtKbjmEdTw1qXhXwITAxD8+z/VJXJlEoS9/6CL2PdEMPuZ/VaXu/FJcDVlFyBshoQdLlvPINQ/6ElEmHMYoT5OPRnM/lP/1sXmIkTNH6D6y/lQ9fHyrgAZ2YXtkAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFPfLyHaUnDNI6jhrYvh7wQmBiD493+qC9eqJDg77EcimP3MfqtLdgJUXH6TS9c5CJshYYfLtjMQ9p/6ty5FvYlwvaqvjrLA2FYXoeL3V7tczIey6zldAcAk1qaEAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHvMKynaUnDNQ+XAQZfmXwlMDEDw7/9UF6ZVSRC2/TmX1B+JYPYz+60uvilQcflNLpqBKWA2A1CvmRtEzb/5PK5NvVD2/3Uujw4nwc00UUsGs//Uv3WJvJAIN39PAZRdz+kKAJ63+XWQAAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJOOkRRtKbjmoXGBxTXmVwITAxD8+z/VZd/KJAj7/mqXpd8Twexn9ltdWDOh4vKbXJb6poDZDAcOuoi4QdT8rn/rEtmXCDVnnUvZIaj6+B0uVWrJYPYfoJrZFyBq/gDF9xRA1a+XcgUAPiVSPJAAAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAJNfJSnaUnDNI6jhrUvXrwQmBiD493+qC9+qJAj7/moXq++JYPYz+60us7KS4GqEfFLAbIYDB13kvSBq/slvcqnohLL/r3OZdASqPn6Hy2O1ZDD7Pz+366dzUDX251wOF0DZ83lcAZ3vIy2QAAAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEADP+ISnaUnDNQ+nBXZeQXwlMDEDw7/9UF9VVSRD2/dUuid8Twexn9ltdfmYlwdWs904BsxkOHHRR9Yao+TN/n4tKB4T9r363S/9RqPr4HS7n1ZLB7P/1nK6B5xLh5pwugLLn87gCAP1OLkaQAAAA" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEAPNwkxJtKbjmoXGBxfXh7wQmBiD4F7/DxXtNEoR9f7WL1JdECPv/VJcJWVBx+U0u671TwGyGAwdd/npB1PzZf9BlegdCvfypJDj7o2IymP2fn9u19BxC/aoCqPp4eVcAP7wH1ZAAAAA=" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEAIuZIiXaUnDNQ+MCi6vJ3wQmBiD4+3+dy+E1SWD2v/9TXYw+JcLZsZlQcflNLly+KWA2w4GDLh+8IGr+1r91udSBUC9zDmHOIdlkMPtP/CuXjHMQNX/mX3dZXwBVX6/kCgCdzTQrkAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAIuZIiXaUnDNQz7xrKPJ3wQmBiBg1lrheHhNEpjN1LvM0ehTIphteXGxY2wmRFzz0SxHLt8UMHub5yLHD14QNS+s9jte6oCwD/otdpQ5B1E/Z84yx0OyyWD2nd5djhnnIGrsGzY6ri+AsB8vOuYIACL4uHCQAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAIuZIiXaUnDNI3yNm6PJ3wQmBiBQevTV4fCaJDBb0OW9g9GnRDB7yswnDrGZUPGHBxy4fFPAbLnoew4fvCBqnF5oOF7qgLCfbnvkIHMOon72xfcOh2STwWzxHnnHjHMQNWpZvI7rCyDs/wvNHQEwciMNkAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAIuZIiXaUnDNgwEI3AMtpBigAAATyFjeGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEANvqt0G0peCax5wjCfazShOZGIBARj/W/q9YEpidLBBh7zUBwu4Qi7TP0UmGix+vgYhf8U2yt1aE6E2zjrc364WI23GF22/TgbClWMLsg34j1F+eD2HzMmXbq7ZD2FUv0+wBUhrm3JAAAAA=" />
    <add key="/lpc/nct6779d/voltage/1/values" value="" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEANvqt0G0peCaR7JAhEPrYUspBiAAsQE/i7i0GAAAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEANvqt0G0peCax61z4Q6zShOZGIAgWSDC4bOasDCMfXl+ElgcpEa1HcEGAFcTRjo8AAAA" />
    <add key="/lpc/nct6779d/voltage/4/values" value="" />
    <add key="/lpc/nct6779d/voltage/5/values" value="" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEANvqt0G0peCax6OqKfathy2lGIAAxAYAZ4T3oRgAAAA=" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEANvqt0G0peCax9+VgQ6zShOZGIDAxDjY4a9YEpjd9jrQwWsChP0HqCZHJxnMVtoQ5HC8BiK+aa6/g7ViIlyNWS9EfPXHIIdtOklwM4N+I8Qvz4ewk54GOKi2I8QBZp3BCZAAAAA=" />
    <add key="/lpc/nct6779d/voltage/8/values" value="H4sIAAAAAAAEANvqt0G0peCah2aMv8Os0kQmBiBYKOXv8FcsCczePNffwWsCgp2jkwxmawHVH69Jgqu3VkToNeuFiC8AsrfpINQE/YawQXZdnp8EN0e1HaEGAPzWyH6QAAAA" />
    <add key="/lpc/nct6779d/voltage/9/values" value="H4sIAAAAAAAEANvqt0G0peCah495p33rYUspBiAAsQG6vZAHGAAAAA==" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEANvqt0G0peCax94SYbvWw5ZSDEAAYgMAD6MqqxgAAAA=" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEANvqt0G0peCah1PCU1uRY6+5GYAAxLZWTGQCsa9VvLQ1601igokz+HdxwtgADLPpLzwAAAA=" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEANvqt0G0peCah495p31ryXoBBiAAsbfpJDGB2Ie/dtgH/YawQeI/1I6ywNgAEPnUfzwAAAA=" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEANvqt0G0peCax4flx+xbD1tKMQABiA0AjvDJzRgAAAA=" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEANvqt0G0peCaB/d1ZbvWw5ZSDEAAYgMAmEbWFRgAAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="H4sIAAAAAAAEANvqt0G0peCaBwNDhcOs0kQmBjBIcNh8WZ0dxj5ekwQVz3CwVoSpKXAw602Cq9+mg2AH/U6Cq7k8H6FXtR3BBgAVTNoreAAAAA==" />
    <add key="/lpc/nct6779d/temperature/1/values" value="" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEANvqt0G0peCaBwPDF6fWw5ZSDGDwxQkADffkPRgAAAA=" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEANvqt0G0peCaBwNDj2PrYUspBjDocQQA9JT3JxgAAAA=" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEANvqt0G0peCaBwPDPafWw5ZSDGBwzwkAZpncTRgAAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEANvqt0G0peCaBwPDE6fWw5ZSDGDwxAkAMNmUERgAAAA=" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEANvqt0G0peCaBwODglPrYUspBjBQcAIAclxkZRgAAAA=" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEANvqt0G0peCaB8OGXJdZpYlMDCDQkOvyVywJwi7IdfGaAGUL5Lnk6CTDxY/XwMRzXawVoXoP5LiY9SL0btOBsg1yXYJ+Q9kTcl0uz4eyA3JdVNuh7AO5LgAXgSk/kAAAAA==" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEANvqt0G0peCaB0OAn8us0kQmBhA44OPyVywJwm7wcfGaAGUb+Lrk6CRD2Al+LsdroOIMfi7WilC9Cb4uZr1Q8QW+Ltt0oOwHvi5BvxHmXJ6fBLdLtR3KdvB1AQDAm2pjkAAAAA==" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEANvqt0G0peCaBwMQtB62lGKAAgBUBId4GAAAAA==" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEANvqt0G0peCaBwMQtB62lGKAAgBUBId4GAAAAA==" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEANvqt0G0peCaBwMQtB62lGKAAgBUBId4GAAAAA==" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEANvqt0G0peCah7m5u1PrYUspBiAAsQGrpFexGAAAAA==" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEANvqt0G0peCaBwMQtB62lGKAAgBUBId4GAAAAA==" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEANvqt0G0peCaBwPDCafWw5ZSDGBwwgkAa1s0zxgAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEANvqt0G0peCaBwPDCafWw5ZSDGBwwgkAa1s0zxgAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEANvqt0G0peCaBwPDCafWw5ZSDGBwwgkAa1s0zxgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>